@mixin transition($property, $duration) {
  -webkit-transition: $property $duration;
  -moz-transition: $property $duration;
  -o-transition: $property $duration;
  transition: $property $duration;
}

@mixin background-main() {
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px),
    radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}
@mixin background-main__dark-mode() {
  background-color: #07071a;
  opacity: 0.8;
  background-image: radial-gradient(#7d82ff 0.5px, #07071a 0.5px);
  background-size: 10px 10px;
}

@mixin flex($justify) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}
