// $website-width: 90%;
// $primary-color: #4834d4;
// $medium-color: #ccc;
// $dark-color: #333;
// $bg-image: url("../images/bg.jpg");

$blue-color: #262ef6;
$blue-dark: #041c53;
$blue-text: #011440;
$light-box: #e8e9ff;
$skills-color: #221d21;
$blue-par: #303f65;
$light-color: #f4f4f4;
$darken: #000;
// code
$bg-code: #1e293b;
$line-code: #475569;
$arrow-code: #64758b;
$tag-code: #f372b6;
$line-code: #475569;
$text-code: #f8fafc;
