@font-face {
  font-family: vazir;
  src: url(../fonts/Vazir.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: vazir;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #041c53;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.container {
  width: 90%;
  padding: 1rem 1.5rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.shadow {
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.06);
}

.rounded {
  border-radius: 0.5rem;
}

.py-1 {
  padding: 1rem 0;
}
.py-2 {
  padding: 2rem 0;
}
.py-3 {
  padding: 3rem 0;
}
.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}
.my-2 {
  margin: 2rem 0;
}
.my-3 {
  margin: 3rem 0;
}
.my-4 {
  margin: 4rem 0;
}

#main-header {
  -webkit-transition: background 1.2s;
  -moz-transition: background 1.2s;
  -o-transition: background 1.2s;
  transition: background 1.2s;
}
#main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}
#main-header .them {
  position: relative;
  cursor: pointer;
}
#main-header .them .switch-them {
  font-size: 1.5rem;
  position: absolute;
  top: 1.8rem;
  left: 50%;
  display: none;
  padding: 0.3rem;
  border-radius: 0.5rem;
  background-color: #e8e9ff;
  color: #041c53;
  transform: translateX(-50%);
  z-index: 2;
}
#main-header .them .switch-them span {
  text-align: center;
  display: block;
  font-size: 1rem;
  margin: 0.2rem 0;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}
#main-header .them .switch-them span:hover {
  background-color: #041c53;
  color: #e8e9ff;
}
#main-header .them:hover .switch-them {
  display: block;
}
#main-header .container-text {
  color: #041c53;
}
#main-header .git-link a {
  color: #041c53;
  font-size: 1.5rem;
}

.display-b {
  display: block !important;
}

.header-scroll {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.header-fixed {
  width: 100% !important;
  position: fixed !important;
  top: 0;
  z-index: 1000;
}

.dark #main-header {
  background-color: #1e293b;
}

.dark .header-scroll {
  background: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(0, 0, 0, 0.3) !important;
}

.dark .switch-them {
  background-color: #1e293b !important;
  color: #e8e9ff !important;
}
.dark .switch-them span:hover {
  background-color: #262ef6 !important;
  color: #e8e9ff !important;
}

.dark .container-text {
  color: #e8e9ff !important;
}

.dark .git-link a, .dark .container-text, .dark .them i {
  color: #e8e9ff !important;
}

.main {
  padding-top: 3rem;
  position: relative;
}
.main .introduce {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.main .introduce .intro {
  max-height: 100%;
  margin-top: 1rem;
  padding: 1rem;
  text-align: right;
  direction: rtl;
}
.main .introduce .intro .intro__title {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  color: #041c53;
  background-color: #f4f4f4;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
}
.main .introduce .intro .img-container {
  width: 100%;
  max-height: 100%;
  overflow: hidden;
  cursor: pointer;
}
.main .introduce .intro .img-container img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}
.main .introduce .intro .intro-par {
  padding: 1rem;
  font-size: 1rem;
  color: #303f65;
}
.main .introduce .small-image {
  height: 730px;
}
.main .introduce .small-image .img-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  cursor: pointer;
}
.main .introduce .about {
  border-bottom: 2px solid #041c53;
}
.main .introduce .skills {
  margin-top: 3rem;
}
.main .introduce .skills .intro-par {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main .introduce .skills .badge {
  padding: 0.5rem 1rem;
  background-color: #221d21;
  color: #e8e9ff;
  border-radius: 0.5rem;
  margin: 0.4rem;
}
.main .bg-pattren {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.code-animation {
  background-color: #1e293b;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  overscroll-behavior: contain;
  /* The typing effect */
}
.code-animation:hover {
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
}
.code-animation .header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.3rem 0 0.7rem 0;
  border-bottom: 1px solid #475569;
}
.code-animation .header span {
  cursor: pointer;
  width: 13px;
  height: 13px;
  background-color: #e8e9ff;
  border-radius: 50%;
}
.code-animation .header span + span {
  margin-left: 0.3rem;
}
.code-animation code {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overscroll-behavior: contain;
}
.code-animation code .line {
  margin: 0.5rem 0;
  display: flex;
  overflow: hidden;
  border-right: 0.15em solid transparent;
  width: 0%;
  height: 20px;
  font-size: 1rem;
  font-family: "Source Code Pro", monospace;
}
.code-animation code .line-count {
  display: inline-block;
  margin-right: 3rem;
  color: #475569;
  font-size: 1rem;
}
.code-animation code .line-count-html {
  display: inline-block;
  margin-right: 2rem;
  color: #475569;
  font-size: 1rem;
}
.code-animation code .code-arrow {
  color: #64758b;
}
.code-animation code .code-tag {
  color: #f372b6;
}
.code-animation code .code-text {
  color: #f8fafc;
}
.code-animation .line:nth-child(1) {
  animation: typing 5s;
  animation-fill-mode: forwards;
}
.code-animation .line:nth-child(2) {
  animation: typing 6s;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
.code-animation .line:nth-child(3) {
  animation: typing 7s;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}
.code-animation .line:nth-child(4) {
  animation: typing 8s;
  animation-fill-mode: forwards;
  animation-delay: 3.5s;
}
.code-animation .line:nth-child(5) {
  animation: typing 10s;
  animation-fill-mode: forwards;
  animation-delay: 6s;
}
.code-animation .line:nth-child(6) {
  animation: typing 15s;
  animation-fill-mode: forwards;
  animation-delay: 12.5s;
}
.code-animation .line:nth-child(7) {
  animation: typing 15s;
  animation-fill-mode: forwards;
  animation-delay: 17.5s;
}
.code-animation .line:nth-child(8) {
  animation: typing 15s;
  animation-fill-mode: forwards;
  animation-delay: 24s;
}
.code-animation .line:nth-child(9) {
  animation: typing 15s;
  animation-fill-mode: forwards;
  animation-delay: 26.5s;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 1070px) {
  .introduce {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .intro-coustom {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .skills {
    width: 45%;
    margin-top: 0 !important;
  }
  .about {
    width: 45%;
    border-bottom: none !important;
  }
}
@media (max-width: 650px) {
  .introduce {
    grid-template-columns: 1fr !important;
  }
  .small-image {
    grid-column: 1/-1;
    height: fit-content !important;
    margin-bottom: 2rem;
  }
  .big-image {
    grid-column: 1/-1;
    margin: 0;
    height: 600px;
  }
  .intro-coustom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .skills {
    width: 100%;
    margin-top: 3rem !important;
  }
  .about {
    width: 100%;
    margin-top: 0 !important;
    border-bottom: none !important;
  }
}
.dark .intro__title {
  color: #f4f4f4 !important;
  background-color: #041c53 !important;
}

.dark .intro-par {
  color: #e8e9ff !important;
}

.dark .about {
  border-bottom: 2px solid #041c53;
}

.dark .skills .badge {
  background-color: #e8e9ff !important;
  color: #221d21 !important;
}

.dark .bg-pattren {
  background-color: #07071a;
  opacity: 0.8;
  background-image: radial-gradient(#7d82ff 0.5px, #07071a 0.5px);
  background-size: 10px 10px;
}

.dark .code-animation:hover {
  box-shadow: 0px 0px 6px 6px rgba(255, 255, 255, 0.2) !important;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  color: #041c53;
  border: 3px solid #f4f4f4;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  width: fit-content;
  margin: 0 auto;
}

.par-desc {
  padding: 1rem;
  font-size: 1rem;
  color: #303f65;
  text-align: center;
}

.portfolio {
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 33, 33333%;
}
.card .cart-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card .cart-link .img-container {
  width: 368px;
  height: 300px;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: all 0.7s;
}
.card .cart-link .img-container img {
  width: 100%;
  height: 100%;
}
.card .cart-link span {
  margin: 1rem 0;
  font-size: 1.3rem;
  color: #011440;
}
.card .cart-link:hover .img-container {
  transform: translateY(-20px);
}

.bg-color {
  padding: 3rem 0;
}

.dark .title {
  color: #f4f4f4 !important;
  border-color: #64758b !important;
}

.dark .par-desc {
  color: #f4f4f4;
}

.dark .bg-color {
  background-color: #000;
}

.dark .card span {
  color: #e8e9ff !important;
}

.github {
  width: 70%;
  margin: 4rem auto;
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.github .github-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 400px;
}
.github .github-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: right;
}
.github .github-text .github-text__par {
  font-size: 1.5rem;
  color: #303f65;
  text-align: center;
}
.github .github-text .github-text__btn {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: #041c53;
  outline: none;
  border: none;
  margin-top: 1rem;
}
.github .github-text .github-text__btn a {
  color: #f4f4f4;
  font-family: vazir;
  font-size: 1rem;
}

@media (max-width: 700px) {
  .github-text {
    width: 100% !important;
  }
}
.dark .github-text .github-text__par {
  color: #e8e9ff !important;
}

.dark .github-text .github-text__btn {
  background-color: #e8e9ff;
}
.dark .github-text .github-text__btn a {
  color: #041c53;
}

.contact-me {
  width: 70%;
  margin: 5rem auto;
  padding: 2rem;
  text-align: center;
}
.contact-me .contact-title {
  color: #041c53;
}
.contact-me .contact-link-container {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.contact-me .contact-linke {
  min-width: 300px;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #041c53;
  border: 2px solid #041c53;
  cursor: pointer;
  transition: all 0.7s;
}
.contact-me .contact-linke:hover {
  background-color: #041c53;
  color: #f4f4f4;
}

.dark .contact-title {
  color: #f4f4f4 !important;
}

.dark .contact-linke {
  background-color: #000 !important;
  color: #e8e9ff;
  border-color: #64758b;
}
.dark .contact-linke:hover {
  background-color: #64758b !important;
  color: #000;
}

footer {
  width: 100%;
  display: flex;
  padding: 1rem 4rem;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  background-color: #1e293b;
  color: #e8e9ff;
  border-top: 2px solid #041c53;
}

.dark footer {
  border: none;
}

.css-right {
  position: fixed;
  bottom: 0px;
  right: 0px;
  transform: translate(40%, 40%);
  width: 2000px;
  opacity: 0.5;
  z-index: -1;
}

.css-left {
  position: fixed;
  top: 0px;
  left: 0px;
  transform: translate(-50%, -20%);
  opacity: 0.5;
  max-width: 500px;
  z-index: -1;
}

@media screen and (min-width: 62em) {
  .css-right {
    width: 5000px;
  }
}
@media screen and (min-width: 48em) {
  .css-right {
    width: 5000px;
  }
}
@media screen and (min-width: 30em) {
  .css-right {
    width: 2000px;
  }
}
.dark .css-left {
  position: fixed;
  top: 100px;
  left: 0px;
  transform: translate(-40%, -40%);
  width: 4000px !important;
}

.dark {
  -webkit-transition: all 4s;
  -moz-transition: all 4s;
  -o-transition: all 4s;
  transition: all 4s;
}

/*# sourceMappingURL=main.css.map */
